@model Library.Models.BookReservationModel

@ViewBag.Empty

<div class="text-center" >
    <table class="table table-bordered table-hover">
        <tr>
            <th> Użytkownik </th>
            <th> Tutuł książki </th>
            <th> Data rezerwacji </th>
        </tr>

        @foreach (var item in Model.Reservation)
            @foreach (var book in Model.Book)
                @foreach (var user in Model.User)
                {
                    {
                        {
                            @if (item.IdUser == user.Id)
                             { 
                                <tr>
                                    <th> @Html.DisplayFor(model => user.UserName) </th>
                                    <th> @Html.DisplayFor(model => book.Title) </th>
                                    <th> @Html.DisplayFor(model => item.ReservationDate) </th>
                                </tr>
                             }
                              
                            }
                        }
                    }
                </table>
    </div>