@model Library.Models.BookReservationModel

@ViewBag.Empty

@foreach (var item in Model.Reservation)
    @foreach (var book in Model.Book)
        @foreach (var user in Model.User)
        {
            {
                {
                    <div class=" book">
                        @if (item.IdUser == user.Id)
                        {
                            @Html.DisplayFor(model => user.UserName) <br />
                            @Html.DisplayFor(model => book.Title) <br />
                            @Html.DisplayFor(model => item.ReservationDate) <br />
                        }
                    </div>
                }
            }
        }
